# macOS
.DS_Store

# Video files
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp
*.ogv

# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# local env files
.env*.local
.env.local
.env
.env.production
